{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
@media (max-width: 768px){
  .image-frame{
    width: 100%;
    max-height: 400px;
  }
  .card, .card2{
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1056px ){
  .image-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }
  @media (max-width: 1000px){
  .row.g-0 {
    flex-direction: column;
  }

  .col-md-4, .col-md-8 {
    width: 70%;
    align-self: center;
  
  }

  .image-frame img {
    height: 400px !important;
  }
}

  .image-frame img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 100%;
  }
}
    
    .image-frame {
    display: inline-block;
    border: 8px solid rgb(248, 193, 240); 
    padding: 0.5rem;            
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(248, 193, 240), rgb(245, 175, 234));
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);  
    min-width: 315px;
  }

  .image-frame img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .card, .card2{
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); 
  }
  .card{
    background-color: rgb(175, 234, 170);
    background: linear-gradient(135deg, rgb(175, 234, 170), rgb(131, 209, 124));
    margin-bottom: 2rem;
    width: 100%;
  }
  .card2{
    background-color: rgb(175, 234, 170);
    background: linear-gradient(500deg, rgb(139, 182, 247), rgb(124, 174, 248));
  }
  .flex-container{
    width: 100%;
  
  }

</style>
<div class="flex-container d-flex flex-column align-items-center px-5">
  <video class="my-5" width="80%" height="360" controls>
    <source src="{% static 'video_numberblock.mp4' %}" type="video/mp4">
    Tu navegador no soporta el formato de video.
  </video>
</div>
<div class="flex-container d-flex flex-column align-items-center px-5">
    <div class="card mb-3 border-0" style="max-width: 100%; max-height: fit-content; width: 100%;min-width: 315px;">
      <div class="row g-0">
        <div class="col-md-4 ">
          <div class="image-frame">
            <img src="{% static 'sala1.png' %}" class="img-fluid rounded-start" alt="img1" style="border-radius: 10px; height: 350px; width: 100%;">
          </div>  
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card2 mb-3 border-0" style="max-width: 100%; max-height: fit-content; width: 100%; min-width: 315px">
      <div class="row g-0"> 
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="image-frame">
            <img src="{% static 'sala2.png'%}" class="img-fluid rounded-start" alt="img2" style="border-radius: 10px; height: 350px; width: 100%;">
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0" style="max-width: 100%; max-height: fit-content;width: 100%; min-width: 315px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="image-frame">
            <img src="{% static 'sala1.png' %}" class="img-fluid rounded-start" alt="img1" style="border-radius: 10px; height: 350px; width: 100%;">
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}