{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>
    .fondo {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: rgb(248, 193, 240);
        border: 1px solid #e3e3e3;
        border-radius: 4px;
    }

    .fondo2 {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color:  rgb(243, 189, 72);
        border: 1px solid #e3e3e3;
        border-radius: 4px;
    }
    
    

</style>
<div class="pt-4 mt-3">
    <div>
        <h2 class="pb-3"><strong> Quienes somos </strong></h2>
        <p> Somos un espacio de juego y aprendizaje para niñ@s de 2 a 5 años. Nos enfocamos en el desarrollo 
            integral de l@s niñ@s, fomentando su autonomía, creatividad y habilidades sociales. A través de 
            actividades lúdicas y educativas, buscamos crear un ambiente seguro y estimulante donde cada niñ@ 
            pueda explorar, aprender y crecer a su propio ritmo.</p>
    </div><br><br>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="fondo">
      <h2 class="pb-3"><strong> Qué ofrecemos </strong></h2>
      <p>
        <strong>Turno de mañana</strong><br>
        Lunes a viernes de 9:00 a 12:00 hs. <br>
        <strong>Turno de tarde</strong><br>
        Lunes a viernes de 14:00 a 17:00 hs. <br>
      </p>
    </div>
  </div>
    
  
  <h2 class="pb-3"><strong>Nuestros precios</strong></h2>
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="fondo2">
      <p>
        <strong>Jornada de mañana</strong><br>
        Matricula: $30.000 <br>
        Plan de 4 días al mes: $80.000 <br>
        Plan de 8 días al mes: $125.000 <br>
        Plan de 12 días al mes: $146.000 <br>
        Plan mensual: $170.000 <br>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="fondo">
      <p>
        <strong>Jornada de tarde</strong><br>
        Matricula: $30.000 <br>
        Plan de 4 días al mes: $96.000 <br>
        Plan de 8 días al mes: $130.000 <br>
        Plan de 12 días al mes: $164.000 <br>
        Plan mensual: $200.000 <br>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="fondo2">
      <p>
        <strong>Jornada completa</strong><br>
        Matricula: $30.000 <br>
        Plan de 4 días al mes: $98.000 <br>
        Plan de 8 días al mes: $142.000 <br>
        Plan de 12 días al mes: $174.000 <br>
        Plan mensual: $230.000 <br>
      </p>
    </div>
  </div>
</div>
</div>


{% endblock %}